<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Weathering with you</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>

    </style>
</head>

<body>
    <img src="/images/logo.png" alt="logo" class="logo">
    <img src="/images/main.png" alt="main" class="main">
    <img src="/images/other.png" alt="other" class="other">
    <img src="/images/warning.png" alt="warning" class="warning">
    <img src="/images/city.png" alt="city" class="city" onclick="tosearch()">
    <h1 th:text="${message}"></h1>
    <script>
        function tosearch(){
            window.location.href="/page/search";
        }
    </script>

</body>

</html>