<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>Register Page</title>
    <script>
        function register(){
            document.forms[0].submit();
        }
    </script>
</head>
<body class="text-center">
<form class="register" action="/user/register" method="post">
    <p>请完成用户注册</p>
    <input type="text" name ="nickname" placeholder="用户名" ></br>
    <input type="text" name ="userid" placeholder="用户ID"></br>
    <input type="password" name="password" placeholder="密码">
    <input type="button" class="btn" value="确定" onclick="register()">
</form>
</body>
</html>